
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
	 font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.resume-header {
    background-color: #deceff;
}

.resume-introduction {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	
}

.professional_work_experience {
	color:#532d84
}

.academic_background {
	color:#532d84
}


.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #C8EEE9;
}

.contact_information {
	color:#085A57
}

.languages_title {
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
	color:#085A57
}

.languages {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.language_icon {
	height: 1em;
	width: 1.8em;
	padding-right: 5px;
}

.other-skills {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.other_skills_title {
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
	color:#085A57
}

.biography-details li::before, .skill-list li::before {
	content: ">";
	color: #f23797;
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #f23797;
}

.biography-details li, .skill-list li{
	padding-left: 1em;
}

.biography-details {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.interests-hobbies {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.interests_title {
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
	color:#085A57
}

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
